@keyframes rainbowtext {
    0% {
        color: red;
        font-size: 20px;
    } 
    25% {
        color: orange;
    }
    50% {
        color: yellow;
        font-size: 40px;
        transform: translate(200px, 100px)
    }
    75% {
        color: green;
    }
    85% {
        color: blue
    }
    100% {
        color: purple;
        font-size: 20px;
    }
}

.animate-me {
    /* identify the animation */
    animation-name: rainbowtext;
    /* define how long will it take the animation to complete once */
    animation-duration: 3s;
    /* define the acceleration pattern of the animation */
    animation-timing-function: ease-in-out;
    /* how much time has to pass for the animation to start */
    animation-delay: 1s;
    /* more complex animations */
    /* how many times the animation will run once */
    animation-iteration-count: infinite; 
    /* specifies how an animation should apply styles before and after the animation */
    /* determines if the styles should prevail at the beggining or the end of the animation or both */
    animation-fill-mode: forwards;
    /* determines the playback path of the animation, like make it in reverse */
    animation-direction: alternate;
    /* works to stop or run the animation depending on 
    different interactions with the user (like hover) */
    animation-play-state: running;
}

@keyframes jiggle {
    48%, 62% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1, .9);
    }
    56% {
        transform: scale(0.9, 1.1) translate(0, -5px);
    } 
    59% {
        transform: scale(1.1, 0.9) translate(0, -3px);
    }
} 

.btn-anim {
    animation-name: jiggle;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    margin: 30px;
}

/* body {
    margin: 0 0 0 0;
    background-color: #2c3e50;
    animation-name: animate-sky;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0;
  } */
  
  .grass {
    background: green;
    height: 900px;
    width: 100%;
    position: absolute;
  }
  
  .sun {
    background: #f1c40f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation-name: animateSunDefinitive;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  /* @keyframes animate-sky {
    10% {
        background-color: pink;
    } 
    30% {
        background-color: skyblue;
    }
    70% {
        background-color: skyblue;
    }
    90% {
        background-color: pink;
    }
    100% {
        background-color: #2c3e50;
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }
} */

/* @keyframes animate-sun {
    0% {
        background-color: orangered;
        transform: translate(-200px, 200px);
    }
    25% {
        background-color: yellow;
        transform: translate(400px, 0);
    }
    50% {
        transform: translate(850px, -50px);
    }
    
    75% {
        background-color: yellow;
        transform: translate(1250px, 0);
    }
    100% {
        background-color: red;
        transform: translate(1950px, 200px);
    }
} */

@keyframes animateSunDefinitive {
    0% {
        background-color: orangered;
        transform: translate(-200px, 200px);
    }

    25% {
        background-color: yellow;
        transform: translate(330px, 0px);
    }
    50% {
        transform: translate(860px, -50px);
    }
    75% {
        background-color: yellow;
        transform: translate(1390px, 0px);
    }
    100% {
        background-color: red;
        transform: translate(1920px, 200px);
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
}

.loader {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    height: 200px;
    width: 200px;
    border: solid 20px;
    border-top-color: cyan;
    border-bottom-color: cyan;
    border-left-color: gainsboro;
    border-right-color: gainsboro;
    border-radius: 180px;
    animation: colouredRotateIcon 2s ease-in-out 0s infinite  /*fill-mode*/;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colouredRotateIcon {
    0% {
        transform: rotate(0deg);
    }
    25% {
        border-top-color: red;
        border-bottom-color: red;
    }
    75% {
        border-top-color: red;
        border-bottom-color: red;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text {
    opacity: 0;
    text-align: center;
    animation: appear 1s 3s forwards;
}



